@import "../../../../../assets/styles/mixins.scss";

.species-description {
  margin: 0 24px;
  h3 {
    @include section-title;
  }
  & .species-description__container {
    align-items: center;
    display: flex;
    justify-content: center;
    max-width: 1400px;
    & .text {
      & p {
        background: #f8e5b659;
        color: black;
        font-family: "Alegreya";
        font-size: 18px;
        margin: unset;
        padding: 10px;
        text-align: left;
        &.has-dropcap:first-letter {
          font-family: "Jim Nightshade", cursive, sans-serif;
          float: left;
          font-size: 5rem;
          line-height: 0.7;
          margin: 0.1em 0.1em 0 0;
        }
      }
    }
  }
}
