.leader-badge {
  & .full-name {
    display: flex;
    color: black;
    font-size: 2rem;
    font-weight: 700;
    justify-content: center;
    & .name {
      margin-right: 0.5rem;
    }
  }
  & .traits {
    color: black;
    font-size: 1rem;
    margin-bottom: 1rem;
  }
  & .belongings-data,
  & .health-data,
  & .political-data,
  & .skills {
    border: 1px solid gray;
    border-radius: 1rem;
    display: flex;
    font-size: 1.2rem;
    justify-content: space-between;
    padding: 1.3rem 0.6rem 0.6rem;
    margin: 16px auto;
    width: 80%;
    & .skill-value {
      position: relative;
      top: -35px;
      font-weight: bold;
      font-family: "Jim Nightshade";
      font-size: 1.4rem;
      left: 16px;
    }
    & .skill-icon {
      & img {
        height: 100px;
      }
      &.diplomatical-icon {
        color: sienna;
      }
      &.economical-icon {
        color: darkorange;
      }
      &.martial-icon {
        color: darkgreen;
      }
      &.mental-icon {
        color: darkmagenta;
      }
      &.moral-icon {
        color: blue;
      }
      &.political-icon {
        color: seagreen;
      }
      &.social-icon {
        color: indigo;
      }
      &.spiritual-icon {
        color: maroon;
      }
    }
    & .age-icon {
      align-items: center;
      color: purple;
    }

    & .influence-icon {
      color: darkgoldenrod;
    }
    & .fortune-icon {
      color: orangered;
    }
    & .health-icon {
      color: red;
    }
    & .loyalty-to-leader-icon {
      color: darkslategrey;
    }

    & .subjects-loyalty-icon {
      color: brown;
    }
    & .skill-row {
      display: flex;
      justify-content: space-between;
      padding: 0.6rem;
      margin: 8px auto;
      width: 80%;
    }
  }
}
