@import "./colors.scss";

@mixin main-title {
  color: $ink-red;
  font-family: "Jim Nightshade", cursive;
  font-size: 9rem;
  font-weight: lighter;
  letter-spacing: 0.5px;
  margin-bottom: unset;
  margin-top: unset;
}

@mixin section-title {
  @include main-title;
  font-size: 5rem;
}

@mixin other-title {
  @include main-title;
  font-size: 3rem;
}

@mixin generic-container {
  display: flex;
  margin: auto;
  max-width: 1920px;
  width: calc(100% - 24rem);
}
